.card img{
    height: 160px;
}
.card{
    width: 400px;
    border: 3px solid black;
    display: flex;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-bottom: 30px;
}
.card-text{
    padding-right: 5px;
}

